:root {
	/* =~= Theme Properties =~= */
	--theme-font-family-base: 'Bahnschrift', 'Fira Sans', Roboto, Inter, ui-sans-serif, system-ui,
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
		'Noto Sans SC', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	--theme-font-family-heading: 'Montserrat', 'Fira Sans', Roboto, Inter, ui-sans-serif, system-ui,
		-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, 'Noto Sans',
		'Noto Sans SC', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
		'Noto Color Emoji';
	--theme-font-color-base: var(--color-surface-900);
	--theme-font-color-dark: var(--color-surface-50);
	--theme-rounded-base: 6px;
	--theme-rounded-container: 12px;
	--theme-border-base: 0px;
	/* =~= Theme On-X Colors =~= */
	--on-primary: 0 0 0;
	--on-secondary: 0 0 0;
	--on-tertiary: 0 0 0;
	--on-success: 0 0 0;
	--on-warning: 0 0 0;
	--on-error: 0 0 0;
	--on-surface: var(--color-surface-50);
	/* =~= Theme Colors  =~= */
	/* primary | #84cc16 */
	--color-primary-50: 237 247 220; /* #edf7dc */
	--color-primary-100: 230 245 208; /* #e6f5d0 */
	--color-primary-200: 224 242 197; /* #e0f2c5 */
	--color-primary-300: 206 235 162; /* #ceeba2 */
	--color-primary-400: 169 219 92; /* #a9db5c */
	--color-primary-500: 132 204 22; /* #84cc16 */
	--color-primary-600: 119 184 20; /* #77b814 */
	--color-primary-700: 99 153 17; /* #639911 */
	--color-primary-800: 79 122 13; /* #4f7a0d */
	--color-primary-900: 65 100 11; /* #41640b */
	/* secondary | #babed8 */
	--color-secondary-50: 245 245 249; /* #f5f5f9 */
	--color-secondary-100: 241 242 247; /* #f1f2f7 */
	--color-secondary-200: 238 239 245; /* #eeeff5 */
	--color-secondary-300: 227 229 239; /* #e3e5ef */
	--color-secondary-400: 207 210 228; /* #cfd2e4 */
	--color-secondary-500: 186 190 216; /* #babed8 */
	--color-secondary-600: 167 171 194; /* #a7abc2 */
	--color-secondary-700: 140 143 162; /* #8c8fa2 */
	--color-secondary-800: 112 114 130; /* #707282 */
	--color-secondary-900: 91 93 106; /* #5b5d6a */
	/* tertiary | #f9c73e */
	--color-tertiary-50: 254 247 226; /* #fef7e2 */
	--color-tertiary-100: 254 244 216; /* #fef4d8 */
	--color-tertiary-200: 254 241 207; /* #fef1cf */
	--color-tertiary-300: 253 233 178; /* #fde9b2 */
	--color-tertiary-400: 251 216 120; /* #fbd878 */
	--color-tertiary-500: 249 199 62; /* #f9c73e */
	--color-tertiary-600: 224 179 56; /* #e0b338 */
	--color-tertiary-700: 187 149 47; /* #bb952f */
	--color-tertiary-800: 149 119 37; /* #957725 */
	--color-tertiary-900: 122 98 30; /* #7a621e */
	/* success | #7ddc14 */
	--color-success-50: 237 247 220; /* #edf7dc */
	--color-success-100: 230 245 208; /* #e6f5d0 */
	--color-success-200: 224 242 197; /* #e0f2c5 */
	--color-success-300: 206 235 162; /* #ceeba2 */
	--color-success-400: 169 219 92; /* #a9db5c */
	--color-success-500: 132 204 22; /* #84cc16 */
	--color-success-600: 119 184 20; /* #77b814 */
	--color-success-700: 99 153 17; /* #639911 */
	--color-success-800: 79 122 13; /* #4f7a0d */
	--color-success-900: 65 100 11; /* #41640b */
	/* warning | #f9c73e */
	--color-warning-50: 254 247 226; /* #fef7e2 */
	--color-warning-100: 254 244 216; /* #fef4d8 */
	--color-warning-200: 254 241 207; /* #fef1cf */
	--color-warning-300: 253 233 178; /* #fde9b2 */
	--color-warning-400: 251 216 120; /* #fbd878 */
	--color-warning-500: 249 199 62; /* #f9c73e */
	--color-warning-600: 224 179 56; /* #e0b338 */
	--color-warning-700: 187 149 47; /* #bb952f */
	--color-warning-800: 149 119 37; /* #957725 */
	--color-warning-900: 122 98 30; /* #7a621e */
	/* error | #ff6666 */
	--color-error-50: 255 232 232; /* #ffe8e8 */
	--color-error-100: 255 224 224; /* #ffe0e0 */
	--color-error-200: 255 217 217; /* #ffd9d9 */
	--color-error-300: 255 194 194; /* #ffc2c2 */
	--color-error-400: 255 148 148; /* #ff9494 */
	--color-error-500: 255 102 102; /* #ff6666 */
	--color-error-600: 230 92 92; /* #e65c5c */
	--color-error-700: 191 77 77; /* #bf4d4d */
	--color-error-800: 153 61 61; /* #993d3d */
	--color-error-900: 125 50 50; /* #7d3232 */
	/* surface | #424343 */
	--color-surface-50: 224 224 224; /* #e3e3e3 -> 227 e0e0e0 */
	--color-surface-100: 215 215 215; /* #d9d9d9 -> 215 */
	--color-surface-200: 200 200 200; /* #d0d0d0 -> 200 */
	--color-surface-300: 179 179 179; /* #b3b3b3 */
	--color-surface-400: 123 123 123; /* #7b7b7b */
	--color-surface-500: 66 67 66; /* #424342 */
	--color-surface-600: 54 55 54; /* #363736 */
	--color-surface-700: 42 43 42; /* #2a2b2a */
	--color-surface-800: 30 31 30; /* #1e1f1e */
	--color-surface-900: 22 23 22; /* #161716 */
}
